body {
    margin: 0;
  }

.container {
    border: 6px solid black;
    display: flex;
    /* flex-direction: column; */
    /* height: 800px; */
    /* flex-wrap: wrap; */
    /* flex-flow: row-reverse wrap; */
    /* column-gap: 20px; */
     /* row-gap: 30px; */
    /* gap: 40px 20px; */
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    /* align-content: space-around; */
  }

  .flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
  }
  .item-1 {
    background-color: #b4bf35;
    /* padding-bottom: 3rem; */
  }
  .item-2 {
    background-color: #b95f21;
    /* padding-bottom: 5rem; */
  }
  .item-3 {
    background-color: #1c4c56;
    /* padding-bottom: 3rem; */
  }
  .item-4 {
    background-color: #cfb276;
    /* order: 1 */
  }
  .item-5 {
    background-color: #6b0803;
    /* flex-grow: 1; */
  }
  .item-6 {
    background-color: #1c4c56;
    /* flex-grow: 3 */
  }
  .item-7 {
    background-color: #b95f21;
    /* order: 2; */
  }
  .item-8 {
    background-color: #01243a;
  }
  .item-9 {
    background-color: #aad041;
    /* order: 2; */
  }